@font-face {
   font-family: 'Permanent Marker';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///G:/.shortcut-targets-by-id/1WrMnudV_U_YshU1ZgDmpvrWaqoOkOKF-/POLLUL/Repos/Development/HardPointKennels/2-17-2021%20-%20Current/fonts/Permanent Marker/regular.ttf') format('truetype');
}
